NAESAN_DB_NAME=naesan
NAESAN_DB_USERNAME=naesan
NAESAN_DB_PASSWORD=change-for-local-use
NAESAN_S3_ACCESS_KEY=naesan-local
NAESAN_S3_SECRET_KEY=change-for-local-use
NAESAN_FRONTEND_ORIGIN=https://localhost:5173
